<div id="grid" class="panel panel-info tab-pane fade in active">
  <div class="panel-heading">Grid</div>
  <div class="panel-body">
    <div class="alert alert-success">
      <span class="glyphicon glyphicon-info-sign"></span>
      Tips : Select item(s) and then click Chart / Map to see visualization.
    </div>
    <div class="table-responsive">
      <table class="table grid-table">
        <thead>
          <tr>
            <th>Select</th>
            <th>ID</th>
            <th>Name</th>
            <th>Read</th>
            <th>Unread</th>
            <th>Rate</th>
            <th>Create Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td><input type="checkbox"></input></td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.readCount }}</td>
            <td>{{ item.unreadCount }}</td>
            <td>{{ getRate(item) }} %</td>
            <td>{{ item.createdAt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
